@model ExpenseViewModel
@{
    ViewBag.Title = "Log Spend";
}
@section scripts{
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/dist/jquery.validate.unobtrusive.min.js"></script>
}

    <div class="col-md-6 col-md-offset-3">
        <div class="well">
            <form method="post">
                <div asp-validation-summary="ModelOnly"></div>

                <div class="form-group">
                    <label asp-for="From">From:</label>
                    <input asp-for="From"  class="form-control"/>
                    <span asp-validation-for="From" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="What">What:</label>
                    
                    <input asp-for="What"  class="form-control"/>
                    <span asp-validation-for="What"  class="text-danger"></span>
                    
                </div>

                <div class="form-group">
                    <label asp-for="Amount">Amount:</label>
                    
                    <input asp-for="Amount"  class="form-control"/>
                    <span asp-validation-for="Amount"  class="text-danger"></span>
                    
                </div>

                <div class="form-group">
                    <label asp-for="Date">Date:</label>
                    
                    <input type="date" asp-for="Date" value="@ViewBag.DefaultDate"  class="form-control"/>
                    <span asp-validation-for="Date"  class="text-danger"></span>
                    
                </div>

                <div class="form-group">
                    <label asp-for="Comment">Comment:</label>
                    
                    <textarea rows="4" asp-for="Comment" class="form-control"></textarea>
                    <span asp-validation-for="Comment"  class="text-danger"></span>
                    
                </div>
                <div  class="form-group">
                    <button type="submit" class="btn btn-primary btn-lg"><i class="fa fa-dollar"></i> Cha-Ching</button>
                    <div class="text-success">@ViewBag.UserMessage</div>
                </div>
            </form>
        </div>
    </div>
